{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^.*hooks$",
    "^[./](?!.*styles).*$",
    "^.*styles.*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
